body {
  background-color:pink;
  height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
#a1 {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  display: block;
  font-family: arial;
  color: green;
  border-right: 1px black;
  text-decoration: none;
  float: none;
  }

  a:hover {
    background-color: white;
    color:red;
  }

  h1 {
    font-style: normal;
    text-align: center;
    font-family: arial;
  }

#2 {
  margin: 0 auto;
  padding-bottom: 10px;
  display: block;
}

p {
  font-family: arial;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 400px;
  text-align: center;
}

footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

form {
  border: 4px solid black;
  width: 25%;
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

div {
  padding-bottom: 5px;
}

table {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background-color: yellow;
}

#mail {
  border: 2px solid black;
  margin-top: 15%;
  background-color: white;
}

.footreClass {
  margin-top: 35%;
}

ul {
  font-family: arial;
}

li {
  font-family: arial;
}
